.main{
    /* background-color:#86cdeb; */
    /* hsl, hwb, rgb, hex, name */
    height:900px;
    border:5px solid red;
    background-image: url("shinchan.jpg");
    background-repeat:no-repeat;
    /* repeat, repeat-x, repeat-y, no-repeat */
    background-position: center;
    /* x-axis y-axis */
    /* top, bottom, left, right, top left, top right, bottom left, bottom right, center */
    background-size:cover;
    /* cover- on scaling height and width of the image remains same */
    /* contain- on scaling height and width of the image changes to maintain the aspect ratio */
    /* x-axis y-axis */
    /* width height */
    background-attachment: fixed;
}


.linear{
    height: 100px;
    width: 100px;
    background: linear-gradient(to left,red, yellow, blue, green);
}
.repeat-linear{
    height: 100px;
    width: 100px;
    margin-top:10px;
    background: repeating-linear-gradient(red, yellow, blue, green 20%);
}
.radial{
    height: 100px;
    width: 100px;
    margin-top:10px;
    background: radial-gradient(purple, black, pink);
}
.repeat-radial{
    height: 100px;
    width: 100px;
    margin-top:10px;
    background: repeating-radial-gradient(purple, black, pink 33%);
}
.conic{
    height: 100px;
    width: 100px;
    margin-top:10px;
    background: conic-gradient(purple, black, pink);
}
.repeat-conic{
    height: 100px;
    width: 100px;
    margin-top:10px;
    background: repeating-conic-gradient(purple, black, pink 20%);
}

.child{
    height: 100px;
    width: 100px;
    background-color: rgba(255,0,0,0.5);
    /* opacity: 0.5; */
    color:white;
}
.opacity{
    height: 100px;
    background: linear-gradient(rgb(255,0,0), rgba(255,0,0,0.5));
}