.pig {
    height: 400px;
    width: 400px;
    background-color: aquamarine;
    padding-left: 150px;
    padding-top: 50px;
}

.face {
    height: 110px;
    width: 110px;
    position: relative;
    top: 31px;
    left: 47px;
    border: 1px solid #ffc0cb;
    background-color: #ffc0cb;
    border-radius: 50%;
}

.ears {
    height: 40px;
    width: 40px;
    position: relative;
    top: -10px;
    border: 1px solid #ffc0cb;
    border-radius: 50%;
    background-color: #ffc0cb;
    float: left;
    margin: 0 6px;
}

.eyes {
    height: 15px;
    width: 15px;
    position: relative;
    /* top: 0px; */
    /* top: -17px; */
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    float: left;
    margin: 0px 19px;
}

.nose {
    height: 34px;
    width: 34px;
    position: relative;
    top: 62px;
    left: 36px;
    border: 1px solid #c4455a;
    border-radius: 50%;
    background-color: #c4455a;
    padding-left:2px ;
}

.nostrils {
    height: 10px;
    width: 10px;
    position: relative;
    bottom: 46px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    float: left;
    margin: 0px 2px;
}

.body {
    height: 200px;
    width: 200px;
    border: 1px solid #c2354c;
    background-color: #c2354c;
    border-radius: 50%;
}

.foot {
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 26px;
    border: 1px solid #ffc0cb;
    background-color: #ffc0cb;
    border-radius: 50%;
    float: left;
    margin: 0px 23px;
}

.tail {
    height: 0px;
    width: 0px;
    position: relative;
    bottom: 100px;
    left: 102px;
    border-right: 70px solid #ffc0cb;
    border-top: 70px solid transparent;
    border-left: 70px solid transparent;
}