* {
    margin: 0;
    padding: 0;
}

.star {
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
}

.point {
    height: 30px;
    width: 30px;
    border: 1px solid #01ffff;
    border-radius: 50%;
    background-color: #01ffff;
    position: absolute;
    z-index: 1;
}

#point-1 {
    top: 10%;
    left: 50%;
}

#point-2 {
    top: 40%;
    left: 80%;
}

#point-3 {
    top: 66%;
    left: 76%;
    
}

#point-4 {
    top: 66%;
    left: 25%;
}

#point-5 {
    top: 40%;
    left: 20%;
}

#point-6 {
    background-color: blue;
    position: absolute;
    top: 66%;
    left: 76%;
    animation: ani1 10s linear infinite;
}

.line {
    width: 500px;
    height:2px;
    background-color: black;
    position: absolute;
}

#line-1 {
    top: 40%;
    left: 20%;
    transform: rotate(134deg);
}
#line-2 {
    top: 40%;
    left: 45%;
    transform: rotate(-134deg);
}
#line-3 {
    top: 42%;
    left: 22%;
    width: 770px;
}
#line-4 {
    width: 750px;
    top: 55%;
    left: 21%;
    transform: rotate(13deg);
}
#line-5 {
    width: 750px;
    top: 55%;
    left: 25%;
    transform: rotate(167deg);
}

@keyframes ani1 {
    0% {
        top: 66%;
    left: 76%;
    }

    20% {
        top: 40%;
        left: 20%;
    }

    40% {
        top: 40%;
        left: 80%;
    }

    60% {
        top: 66%;
    left: 25%;
    }

    80% {
        top: 10%;
        left: 50%;
    }

    100% {
        top: 66%;
    left: 76%;
    }
}