.a{
    width:100px;
    height:100px;
    background-color: aqua;
    position:relative;
    animation-name:ani1 ;
    animation-duration: 3s;
    /* animation-iteration-count: infinite; */
    animation-delay: 3s;
    /* animation-direction: reverse; */
    /* normal, alternate, reverse, alternate-reverse */
    animation-fill-mode: both;
    /* forwards, backwards, both */
}

@keyframes ani1 {
    from{
        top:0px;
        left:0px;
        background-color: red;
    }
    to{
        top:0px;
        left:500px;
        background-color: blue;
        width: 200px;
        border-radius: 50%;
    }
}