.main{
    height:100px;
    width: 100px;
    background-color: aqua;
    position: relative;
    animation-name:demo; 
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction:alternate ;
}
@keyframes demo{
    0%{
        top:100px;
        left:100px;
    }
    25%{
        top:100px;
        left:600px;
    }
    50%{
        top: 600px;
        left:600px;
    }
    75%{
        top:600px;
        left: 100px;
    }
    100%{
        top:100px;
        left: 100px;
    }
}

/* 
static (default) - top, left, right, bottom doesn't work
fixed
sticky
absolute
relative
*/